In [21]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                         'two', 'two', 'one', 'three'],
                    'C' : ['.NET DEVELOPER',
'.NET ENGINEER',
'.NET SOFTWARE ENGINEER', 'other', 'other2', 'DATA SCIENCE & ANALYTICS, DIRECTOR',
'DATA SCIENCE ADVISOR',
'DATA SCIENCE ANALYST'],
                    'D' : np.random.randn(8)})

In [22]:
df

     A      B                                   C         D
0  foo    one                      .NET DEVELOPER  1.269013
1  bar    one                       .NET ENGINEER  0.063537
2  foo    two              .NET SOFTWARE ENGINEER  0.433860
3  bar  three                               other  0.119307
4  foo    two                              other2  1.636995
5  bar    two  DATA SCIENCE & ANALYTICS, DIRECTOR  0.396039
6  foo    one                DATA SCIENCE ADVISOR -0.863780
7  foo  three                DATA SCIENCE ANALYST  0.442783

In [32]:
def truncate(x):
    return ('.NET' if x.startswith('.NET') else 'DATA SCIENCE' if x.startswith('DATA SCIENCE') else x)
grouped = df.groupby(df.C.apply(truncate))
for name, group in grouped:
    print(name, "\n", group)

.NET
      A    B                       C         D
0  foo  one          .NET DEVELOPER  1.269013
1  bar  one           .NET ENGINEER  0.063537
2  foo  two  .NET SOFTWARE ENGINEER  0.433860
DATA SCIENCE
      A      B                                   C         D
5  bar    two  DATA SCIENCE & ANALYTICS, DIRECTOR  0.396039
6  foo    one                DATA SCIENCE ADVISOR -0.863780
7  foo  three                DATA SCIENCE ANALYST  0.442783
other
      A      B      C         D
3  bar  three  other  0.119307
other2
      A    B       C         D
4  foo  two  other2  1.636995